

/***
footer {
  width:105%;
  left: -5px;
  font-size:10px;
  color:white;
  text-align:left;
  background-color:black;
  position: absolute;
  padding:0px 0px 10px 10px;
}
****/

.patrickfooter {

width: 15%;
}
.samuelfooter {
  width: 15%;
}
.footer-smallwords {
  font-size: 10px;
  text-align: left;
  line-height: 1.5;
  padding: 0px 9px 0px 9px;
  padding-top: 10px;

  
  
}

.footer {
  border: 1px solid;
  position: relative;
  display: flex;
  margin: 35px 0px 0px 0px;
      align-items: center;
    justify-content: center;
  
}

.yuvalfooter {
  width: 20%;

}

#background-image {
 
  background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/3117853/772/772/m1/fpnw/wm1/1607.m00.i101.n021.p.c25.179331677-space-w-.jpg?1502726817&s=4ef63e76f4b033e198027c964606b329");
}

* {
  box-sizing: border-box;
}

.redwords {
  color: red;
}

.coverpage2 {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height:0;

  
}

.coverpagewords1 {
  right: 16%;
  position: relative;
}

.coverpagewords2 {
  left: 13%;
  position: relative;
}

.smallwords {
  font-size: 12px;
  margin:25px auto;
}

.smallwords {
  font-size: xx-small;
}



.coverpage {
  display: flex;
  width: 100%;
  justify-content: center;
  height:150px;
  line-height:0.1;
}

.coverpage p {
  font-size: small;
}

.fire {
 
  position: absolute;
  left: 50px;
}


.money {
position: absolute;
right: 70px;
}


/****fire & money ****/
h5 {
  color: red;
  font-size: large;
}

img {
  width:100%;

}

img:hover {
  width:110%;
  object-fit:cover;
  transition:3s;
}


body {

}

.container {
 display:flex;

}

#sidebar {
height:100%;
/*
border-right:3px solid gray;
*/
position:fixed;  
overflow:auto;
top:-16px;
left:0px;
width:250px;

}

#link2 {
margin-left:250px;
position:absolute;  
padding:0px 10px 10px 10px;
left:0;

}

.bar-img {
 
width:100%;
}

.nav-link {
display:block;
}

ul {
padding:0;
overflow:auto;
}

li {
padding:13px;
   border-top:1px solid gray;
  list-style:none;

}


/***table for link 2 ***/
table {
  width:100%;

}

tr {
    padding: 10px;
}

th {
  text-align:center;
 
  padding: 10px;


}

td {
  padding-bottom:10px;  
  padding-top: 10px;
padding-left: 10px;
}

.population {
  color: red;
  font-style: italic;
  font-weight: 900;
}

.story {
  line-height: 1.2;
  text-align:left;

} 


a {
  /*border-top:1px solid gray;**/
  text-decoration: none;
  
}

#timeline {
  font-size: 28px;
  padding:0px;
  line-height: 1.5;
}

h2{
  text-align:center;
}

h3 {
  line-height:3;
  text-align: center;
}





  /* For mobile phones: */
  @media only screen and (max-width: 815px) {


  
    .story {
    margin:0px auto;
    line-height:1;
    padding-top: 15px;

    }

    .coverpage p {
      font-size: x-small;
    }

    .coverpage {
      height:170px;
    }
    
    .fire {
      position: absolute;
      left: 81px;
  
    }
    
    .money {
      position: absolute;
      right: 110px;
    }

    #timeline {
      font-size: 15px;
      line-height: 1.7;
    }

    h2 {
      font-size:20px;
    }

    
    ul {
margin:auto;
      height: 229px;
     
    }
    
#sidebar {
   
     position: absolute;
        width: 100%;
        max-height: 230px;
        border-bottom: 2px solid;
        background-color:white;
        


      /***
      
        padding: 0;
        margin: 0;
      border: none;
        z-index: 1;
      
      *****/
    }
    
    #link2 {
 position:relative;
        margin-left: 0px;
        margin-top: 270px;
        
    }

}

/**For Ipad only *****/

@media (max-width:768px) {

  .img-empires {
    text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 600px;
      overflow: auto;
      border-top: 15px solid rgba(242, 38, 19, 0.8);
      border-bottom: 15px solid rgba(242, 38, 19, 0.8);
      border-radius: 10px;
  
  } 
  
  .human-image {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 350px;
    overflow: auto;
    border-top: 15px solid rgba(53, 212, 180, 0.2);
    border-bottom: 15px solid rgba(53, 212, 180, 0.2);
    border-radius: 10px;
  }
  
  .cosmo-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 350px;
    overflow: auto;
    border-top: 15px solid rgba(147, 116, 231, 0.2);
    border-bottom: 15px solid rgba(147, 116, 231, 0.2);
    border-radius: 10px;
  }
  
  .farm-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 350px;
    overflow: auto;
    border-top: 15px solid rgba(78, 198, 84, 0.2);
    border-bottom: 15px solid rgba(78, 198, 84, 0.2);
    border-radius: 10px;
  }
  
  .hunter-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 450px;
    overflow: auto;
    border-top: 15px solid rgba(171, 183, 183, 0.5);
    border-bottom: 15px solid rgba(171, 183, 183, 0.5);
    border-radius: 10px;
  }
  
  .scientific-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 450px;
    overflow: auto;
    border-top: 15px solid rgba(255,215,0,0.3);
    border-bottom: 15px solid rgba(255,215,0,0.3);
    border-radius: 10px;
  }
  
  .industrial-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 450px;
    overflow: auto;
    border-top: 15px solid gray;
    border-bottom: 15px solid gray;
    border-radius: 10px;
  }
  
  .technological-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 450px;
    overflow: auto;
    border-top:15px solid rgba(30, 139, 195, 0.2);
    border-bottom:15px solid rgba(30, 139, 195, 0.2);
    border-radius: 10px;
  }
  
  .sustainability-images {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 400px;
    overflow: auto;
    border-top: 15px solid rgba(242, 38, 19, 1);
    border-bottom: 15px solid rgba(242, 38, 19,1);
    border-radius: 10px;
  
  }
  
  .human-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(53, 212, 180, 0.2);
    border-bottom: 15px solid rgba(53, 212, 180, 0.2);
    border-radius: 10px;
  }
  
  .hunter-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(171, 183, 183, 0.5);
    border-bottom: 15px solid rgba(171, 183, 183, 0.5);
    border-radius: 10px;
  }
  
  .farm-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(78, 198, 84, 0.2);
    border-bottom: 15px solid rgba(78, 198, 84, 0.2);
    border-radius: 10px;
  }
  
  .table-empire {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(242, 38, 19, 0.8);
    border-bottom: 15px solid rgba(242, 38, 19, 0.8);
    border-radius: 10px;
  }
  
  .scientific-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(255,215,0,0.3);
    border-bottom: 15px solid rgba(255,215,0,0.3);
    border-radius: 10px;
  }
  
  .industrial-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid gray;
    border-bottom: 15px solid gray;
    border-radius: 10px;
  }
  
  .technological-table {
    height: 200px;
    overflow: auto;
    border-top:15px solid rgba(30, 139, 195, 0.2);
    border-bottom:15px solid rgba(30, 139, 195, 0.2);
    border-radius: 10px;
  }
  
  .sustainability-table {
    height: 200px;
    overflow: auto;
    border-top: 15px solid rgba(242, 38, 19, 1);
    border-bottom: 15px solid rgba(242, 38, 19,1);
    border-radius: 10px;
  }
  

  .h8 {
    position: absolute;

        }

  ul {
  height: 281px;
}

#sidebar {
  max-height: 284px;
  border-bottom: 10px solid gray;
  width:100%;
}

#link2 {
  position:absolute;
         margin-left: 0px;
         margin-top: 265px;
         width: 100%;
         overflow: auto;
height:750px;
padding: 0px 70px 0px 70px;
}

.footer {
  bottom: 10px;
}


}

  /* For mobile phones: */
  @media only screen and (max-width: 500px) {

    .sustainability-words {
      font-size: 13px;
    }

    .footer {
      width: 40%;
      border: 1px solid;
      position: relative;
     
      display: block;
      
    }



    .img-empires {
      text-align: left;
        font-size: 12px;
        font-style: italic;
        height: 240px;
        overflow: auto;
        border-top: 15px solid rgba(242, 38, 19, 0.8);
        border-bottom: 15px solid rgba(242, 38, 19, 0.8);
        border-radius: 10px;
    
    } 
    
    .human-image {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 200px;
      overflow: auto;
      border-top: 15px solid rgba(53, 212, 180, 0.2);
      border-bottom: 15px solid rgba(53, 212, 180, 0.2);
      border-radius: 10px;
    }
    
    .cosmo-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 200px;
      overflow: auto;
      border-top: 15px solid rgba(147, 116, 231, 0.2);
      border-bottom: 15px solid rgba(147, 116, 231, 0.2);
      border-radius: 10px;
    }
    
    .farm-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 200px;
      overflow: auto;
      border-top: 15px solid rgba(78, 198, 84, 0.2);
      border-bottom: 15px solid rgba(78, 198, 84, 0.2);
      border-radius: 10px;
    }
    
    .hunter-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 220px;
      overflow: auto;
      border-top: 15px solid rgba(171, 183, 183, 0.5);
      border-bottom: 15px solid rgba(171, 183, 183, 0.5);
      border-radius: 10px;
    }
    
    .scientific-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 220px;
      overflow: auto;
      border-top: 15px solid rgba(255,215,0,0.3);
      border-bottom: 15px solid rgba(255,215,0,0.3);
      border-radius: 10px;
    }
    
    .industrial-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 300px;
      overflow: auto;
      border-top: 15px solid gray;
      border-bottom: 15px solid gray;
      border-radius: 10px;
    }
    
    .technological-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 300px;
      overflow: auto;
      border-top:15px solid rgba(30, 139, 195, 0.2);
      border-bottom:15px solid rgba(30, 139, 195, 0.2);
      border-radius: 10px;
    }
    
    .sustainability-images {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 220px;
      overflow: auto;
      border-top: 15px solid rgba(242, 38, 19, 1);
      border-bottom: 15px solid rgba(242, 38, 19,1);
      border-radius: 10px;
    
    }
    
    .human-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(53, 212, 180, 0.2);
      border-bottom: 15px solid rgba(53, 212, 180, 0.2);
      border-radius: 10px;

    }
    
    .hunter-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(171, 183, 183, 0.5);
      border-bottom: 15px solid rgba(171, 183, 183, 0.5);
      border-radius: 10px;
    }
    
    .farm-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(78, 198, 84, 0.2);
      border-bottom: 15px solid rgba(78, 198, 84, 0.2);
      border-radius: 10px;
    }
    
    .table-empire {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(242, 38, 19, 0.8);
      border-bottom: 15px solid rgba(242, 38, 19, 0.8);
      border-radius: 10px;
    }
    
    .scientific-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(255,215,0,0.3);
      border-bottom: 15px solid rgba(255,215,0,0.3);
      border-radius: 10px;
    }
    
    .industrial-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid gray;
      border-bottom: 15px solid gray;
      border-radius: 10px;
    }
    
    .technological-table {
      height: 100px;
      overflow: auto;
      border-top:15px solid rgba(30, 139, 195, 0.2);
      border-bottom:15px solid rgba(30, 139, 195, 0.2);
      border-radius: 10px;
    }
    
    .sustainability-table {
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(242, 38, 19, 1);
      border-bottom: 15px solid rgba(242, 38, 19,1);
      border-radius: 10px;
    }
    
    .cosmo-table {
      text-align: left;
      font-size: 12px;
      font-style: italic;
      height: 100px;
      overflow: auto;
      border-top: 15px solid rgba(147, 116, 231, 0.2);
      border-bottom: 15px solid rgba(147, 116, 231, 0.2);
      border-radius: 10px;
    }


    .bar-img {
      position: relative;
    }



    #siderbar {
      max-height: 150px;
      border-bottom: 10px solid gray;
      width: 100%;
}
    
  
    .coverpagewords1 {
      right: 2%;
      position: relative;
    }
    
    .coverpagewords2 {
      left: 2%;
      position: relative;
    }
    
    .smallwords {
      margin: 20px auto;
      font-size:11px;
      line-height: normal;
    }
 
 
    .fire {
      position: absolute;
      left: 9px;
  
    }
    
    .money {
      position: absolute;
    right: 25px;
    }

    
    #link2 {
      position:absolute;
             margin-left: 0px;
             margin-top: 265px;
             width: 100%;
             overflow: auto;
    height:397px;
    padding:10px;
}


    }

  


  @media only screen and (min-width:815px) {

h10 {
  position: absolute;
  font-size: 45px;
      color:rgb(255,255,255,0.4);
      display:block;
}
    
    h8 {
      position: absolute;
       font-size: 45px;
      color:rgb(255,255,255,0.4);
      display:block;
    
    
    }


#link2 {
  width: 62%;
  left: 115px;
}


.coverpagewords1 {
  right: 11%;
  position: relative;
}

.coverpagewords2 {
  left: 13%;
  position: relative;
}

.smallwords {
  font-size: 12px;
  margin:25px auto;
}

.bar-img {
  height: 230px;

}

.img-empires {
  text-align: left;
    font-size: 12px;
    font-style: italic;
    height: 600px;
    overflow: auto;
    border-top: 15px solid rgba(242, 38, 19, 0.8);
    border-bottom: 15px solid rgba(242, 38, 19, 0.8);
    border-radius: 10px;

} 

.human-image {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 350px;
  overflow: auto;
  border-top: 15px solid rgba(53, 212, 180, 0.2);
  border-bottom: 15px solid rgba(53, 212, 180, 0.2);
  border-radius: 10px;
}

.cosmo-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 350px;
  overflow: auto;
  border-top: 15px solid rgba(147, 116, 231, 0.2);
  border-bottom: 15px solid rgba(147, 116, 231, 0.2);
  border-radius: 10px;
}

.farm-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 350px;
  overflow: auto;
  border-top: 15px solid rgba(78, 198, 84, 0.2);
  border-bottom: 15px solid rgba(78, 198, 84, 0.2);
  border-radius: 10px;
}

.hunter-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 450px;
  overflow: auto;
  border-top: 15px solid rgba(171, 183, 183, 0.5);
  border-bottom: 15px solid rgba(171, 183, 183, 0.5);
  border-radius: 10px;
}

.scientific-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 450px;
  overflow: auto;
  border-top: 15px solid rgba(255,215,0,0.3);
  border-bottom: 15px solid rgba(255,215,0,0.3);
  border-radius: 10px;
}

.industrial-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 450px;
  overflow: auto;
  border-top: 15px solid gray;
  border-bottom: 15px solid gray;
  border-radius: 10px;
}

.technological-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 450px;
  overflow: auto;
  border-top:15px solid rgba(30, 139, 195, 0.2);
  border-bottom:15px solid rgba(30, 139, 195, 0.2);
  border-radius: 10px;
}

.sustainability-images {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  height: 600px;
  overflow: auto;
  border-top: 15px solid rgba(242, 38, 19, 1);
  border-bottom: 15px solid rgba(242, 38, 19,1);
  border-radius: 10px;

}

.human-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(53, 212, 180, 0.2);
  border-bottom: 15px solid rgba(53, 212, 180, 0.2);
  border-radius: 10px;
}

.human-table:hover {
  height: 300px;
  transition:3s;
}

.hunter-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(171, 183, 183, 0.5);
  border-bottom: 15px solid rgba(171, 183, 183, 0.5);
  border-radius: 10px;
}

.hunter-table:hover {
  height: 300px;
  transition:3s;
}

.farm-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(78, 198, 84, 0.2);
  border-bottom: 15px solid rgba(78, 198, 84, 0.2);
  border-radius: 10px;
}

.farm-table:hover {
  height: 300px;
  transition:3s;
}

.table-empire {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(242, 38, 19, 0.8);
  border-bottom: 15px solid rgba(242, 38, 19, 0.8);
  border-radius: 10px;
}

.table-empire:hover {
  height: 300px;
  transition:3s;
}

.scientific-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(255,215,0,0.3);
  border-bottom: 15px solid rgba(255,215,0,0.3);
  border-radius: 10px;
}

.scientific-table:hover {
  height: 300px;
  transition:3s;
}

.industrial-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid gray;
  border-bottom: 15px solid gray;
  border-radius: 10px;
}

.industrial-table:hover {
  height: 300px;
  transition:3s;
}


.technological-table {
  height: 100px;
  overflow: auto;
  border-top:15px solid rgba(30, 139, 195, 0.2);
  border-bottom:15px solid rgba(30, 139, 195, 0.2);
  border-radius: 10px;
}

.technological-table:hover {
  height: 300px;
  transition:3s;
}


.sustainability-table {
  height: 100px;
  overflow: auto;
  border-top: 15px solid rgba(242, 38, 19, 1);
  border-bottom: 15px solid rgba(242, 38, 19,1);
  border-radius: 10px;
}


.sustainability-table:hover {
  height: 300px;
  transition:3s;
}


}