

/***
footer {
  width:105%;
  left: -5px;
  font-size:10px;
  color:white;
  text-align:left;
  background-color:black;
  position: absolute;
  padding:0px 0px 10px 10px;
}
****/
* {
  box-sizing: border-box;
}

.redwords {
  color: red;
}

.coverpage2 {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height:0;

  
}

.coverpagewords1 {
  right: 16%;
  position: relative;
}

.coverpagewords2 {
  left: 13%;
  position: relative;
}

.smallwords {
  font-size: 12px;
  margin:25px auto;
}

.smallwords {
  font-size: xx-small;
}



.coverpage {
  display: flex;
  width: 100%;
  justify-content: center;
  height:150px;
  line-height:0.1;
}

.coverpage p {
  font-size: small;
}

.fire {
 
  position: absolute;
  left: 50px;
}


.money {
position: absolute;
right: 70px;
}


/****fire & money ****/
h5 {
  color: red;
  font-size: large;
}

img {
  width:100%;

}

body {

}

.container {
 display:flex;

}

#sidebar {
height:100%;
/*
border-right:3px solid gray;
*/
position:fixed;  
overflow:auto;
top:-16px;
left:0px;
width:250px;

}

#link2 {
margin-left:250px;
position:absolute;  
padding:0px 10px 10px 10px;
left:0;
}

.bar-img {
 
width:100%;
}

.nav-link {
display:block;
}

ul {
padding:0;
overflow:auto;
}

li {
padding:13px;
   border-top:1px solid gray;
  list-style:none;

}


/***table for link 2 ***/
table {
  width:100%;
margin-bottom: 50px;
}

tr {
    
}

th {
  text-align:center;
 


}

td {


}

.population {
  color: red;
  font-style: italic;
  font-weight: 900;
}

.story {
  line-height: 1.2;
  text-align:left;

} 


a {
  /*border-top:1px solid gray;**/
  text-decoration: none;
  
}

#timeline {
  font-size: 28px;
  padding:0px;
  line-height: 1.5;
}

h2{
  text-align:center;
}

h3 {
  line-height:3;
}





  /* For mobile phones: */
  @media only screen and (max-width: 815px) {


  
    .story {
    margin:0px auto;
    line-height:1;
    padding-top: 15px;

    }

    .coverpage p {
      font-size: x-small;
    }

    .coverpage {
      height:170px;
    }
    
    .fire {
      position: absolute;
      left: 81px;
  
    }
    
    .money {
      position: absolute;
      right: 110px;
    }

    #timeline {
      font-size: 15px;
      line-height: 1.7;
    }

    h2 {
      font-size:20px;
    }

    
    ul {
margin:auto;
      height: 229px;
     
    }
    
#sidebar {
   
     position: absolute;
        width: 100%;
        max-height: 230px;
        border-bottom: 2px solid;
        background-color:white;
        


      /***
      
        padding: 0;
        margin: 0;
      border: none;
        z-index: 1;
      
      *****/
    }
    
    #link2 {
 position:relative;
        margin-left: 0px;
        margin-top: 270px;
    }

}

/**For Ipad only *****/

@media (max-width:768px) {

  ul {
  height: 281px;
}

#sidebar {
  max-height: 285px;
}
}

  /* For mobile phones: */
  @media only screen and (max-width: 400px) {
  
    .coverpagewords1 {
      right: 2%;
      position: relative;
    }
    
    .coverpagewords2 {
      left: 2%;
      position: relative;
    }
    
    .smallwords {
      margin: 20px auto;
      font-size:11px;
      line-height: normal;
    }
 
 
    .fire {
      position: absolute;
      left: 9px;
  
    }
    
    .money {
      position: absolute;
    right: 25px;
    }

    
    #link2 {
      position:absolute;
             margin-left: 0px;
             margin-top: 225px;
             width: 100%;
    }

  }


  @media only screen and (min-width:815px) {

    h8 {
      position: absolute;
       font-size: 45px;
      color:rgb(255,255,255,0.4);
      display:block;
      width: ;
    
    }


#link2 {
  width: 62%;
  left: 115px;
}


.coverpagewords1 {
  right: 11%;
  position: relative;
}

.coverpagewords2 {
  left: 13%;
  position: relative;
}

.smallwords {
  font-size: 12px;
  margin:25px auto;
}

.bar-img {
  height: 230px;
}

}